<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/rezog/IdeaProjects/horseracing/src/test/java">
        <groups>
            <run>
                <include name="jokey"/>
                <include name="player"/>
                <include name="stud"/>
                <include name="horse"/>
                <include name="coach"/>
                <include name="ippo"/>
                <include name="typeBet"/>
                <!--include name="playerBet"/-->
                <include name="racingMap"/>
            </run>
        </groups>
        <classes>
            <class name="dao.JokeyDAOTest"></class>
            <class name="dao.PlayerDAOTest"></class>
            <class name="dao.StudDAOTest"></class>
            <class name="dao.HorseDAOTest"></class>
            <class name="dao.CoachDAOTest"></class>
            <class name="dao.IppoDAOTest"></class>
            <class name="dao.TypeBetDAOTest"></class>
            <!--class name="dao.PlayerBetDAOTest"></class-->
            <class name="dao.RacingMapDAOTest"></class>
        </classes>
    </test>
</suite>
